<% content_for(:sidebar) do %>
  <%= display_sidebar(I18n.t('labels.available_events') => @events.map{|e| {name: e, href: ''}}) %>
<% end %>

<%= simple_form_for(@chart, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :app_id, value: @chart.app_id || params[:chart][:app_id] %>

  <%= f.input :name %>
  <%= f.input :config, as: :text, :input_html => { :rows => 10 },
              hint: link_to(t('labels.docs'), '/pdf/chart_settings_documentation.pdf', target: '_blank') %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chart_return_path(@chart), :class => 'btn' %>
  </div>
<% end %>
